NODE_ENV=production
# NODE_ENV=development # For local development

APP_PORT=4000
ALLOWED_ORIGIN='http://localhost:3000'

# JWT
JWT_SECRET=''
JWT_ACCESS_TOKEN_EXPIRATION_TIME='10m'
JWT_REFRESH_TOKEN_EXPIRATION_TIME='1d'

# Postgres
POSTGRES_USER='root'
POSTGRES_PASSWORD=''
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432
POSTGRES_DB='kanban-board'
POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}"

# Redis
REDIS_PASSWORD=''
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_URI="redis://:${REDIS_PASSWORD}@redis:${REDIS_PORT}"  